
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import "node_modules/font-awesome/scss/font-awesome.scss";
@import '~pretty-checkbox/src/pretty-checkbox.scss';    
@import '~@mdi/font/scss/materialdesignicons';

/**** Navbar css ****/

.navbar-laravel {
  	background-color: #6c3668;
 	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.navbar{
    position: fixed;
    width: 100%;
    z-index: 11;
    height:60px;
    box-shadow: 0px 0px 10px 0px #050505
}

.container {
    width: 80% !important;
    min-width: 80% !important;
    margin-left: 20% !important;
    max-height:90vh;
    overflow-y:auto
}

.login-container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

/**** Side bar css section ****/

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}


/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.dropdown-container {
    display: none;
}


.wrapper {
    display: flex;
    width: 100%;
    overflow-x: auto;
    align-items: stretch;
}

#sidebar {
    min-width: 20%;
    max-width: 20%;
    background: white;
    color: #fff;
    transition: all 0.3s;
    float: left;
    position: fixed;
    z-index: 9;
    border-right: 1px solid lightgrey;
    border-bottom: 1px solid lightgray;
    min-height: 100vh;
    max-height: 100vh;
    overflow: hidden;
    margin-top: -60px;
}


#sidebar.active {
    margin-left: -20%;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px 20px;
    font-size: 1.1em;
    display: block;
    color: grey;
}

#sidebar ul li.active>a,
#sidebar .nav-link.active-sidemenu{
    background: #a3c16b;
    color: white;
}

.admin-dash{
    padding: 20px;color:grey;
    padding-top: 80px;
    border-bottom: 1px solid #dddddd;
}

#sidebar.active {
    position: absolute;
    z-index: 9;
}



/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -260px;
    }
    .scroll{
        overflow: hidden
    }
    #sidebar.active {
        margin-left: 0;
        max-width: 250px;
    }
    #sidebarCollapse span {
        display: none;
    }

    .container {
        width: 100% !important;
        margin-left: auto !important
    }
    .navbar {
        height: unset;
    }

    @media(max-width: 1100px){

    .table-scroll{
        overflow-x: scroll;
    }
}
}


#sidebar:hover {
  overflow-y: auto;
}

#sidebar::-webkit-scrollbar {
  width:6px;
}

/* Track */
#sidebar::-webkit-scrollbar-track {
  background: #dce9c3; 
}

/* Handle */
#sidebar::-webkit-scrollbar-thumb {
  background: #6c3668; 
}

/* Handle on hover */
#sidebar::-webkit-scrollbar-thumb:hover {
  background: #6c3668; 
}

#sidebar .nav .nav-item a i {
    width: 20px;
    font-size: 16px;
    text-align: center;
    margin-right: 24px;
}

.sidebar-section{
    margin-left: 30px;
    margin-top: 15px;
    color: #6c3668;
    font-weight: bold;
}

.seperate-line{
    border-bottom: 1px solid #dddddd;    
}

#sidebar ul li a.active, #sidebar ul li a.active:hover, #sidebar ul li a.active:focus{
	background: #6836647a;
    color: white !important;
}
#sidebar ul li a:hover {
    background:#eceeef
}

.active-parent {
    background:#6836647a;
}


/*** Extra CSS ****/

.update-container{
    width: 100% !important;margin-left: auto !important;overflow: hidden;max-height:unset ;padding-bottom:30px 
}

#app {
    padding-top: 60px;
}

.container > .row {
  padding-top: 15px;
}

body {
    overflow: hidden;
}

.card-header {
    background-color: #727470;
    color:white
}
.theme-btn, .theme-btn:hover, .theme-btn:focus, .theme-btn:active {
    background:#6c3668;
    color:white
}
.form-control, .btn {
    border-radius:0px !important
}

.login-btn{
    width:100%;
    background: #75c675;
    color: white;
    border-radius: 0px;
    font-size: 16px;
}
.login-card{
    border-color:#6c4c6e;
    margin-top:35%;
    border-radius:0px !important
}
.login-header{
    background: #6c4c6e;
    text-align: center;
    border-radius: 0px !important; 
    border-color: #6c4c6e;
    height: 60px;
    font-size: 22px;
}
.button-card {
    margin-top: 10px;
    padding: 10px 15px;
}
.cancel-btn {
    border: 1px solid lightgrey;
    background: #f3f3f3;
}







/*
T2
    box-shadow: -5px 1px 50px 5px lightgrey;

T2
.login-card {
    border-color: #6c4c6e;
    margin-top: 35%;
    border-radius: 0px !important;
}
.login-header {
    background: #b1a9b2;
    text-align: center;
    border-radius: 0px !important;
    border-color: #605961;
    height: 60px;
    font-size: 22px;
    color: #645a5a;
}
body {
    background: #615961;
}

T3
.login-card {
    border-color: #6c4c6e;
    margin-top: 35%;
    border-radius: 0px !important;
}
.login-header {
    background: #3a2e3a;
    text-align: center;
    border-radius: 0px !important;
    border-color: #6c4c6e;
    height: 60px;
    font-size: 22px;
}
body {
    background: #e1e1e1;
}
*/


/* ---------------------------------------------------
    Theme Color red
----------------------------------------------------- */

.red .navbar-laravel {
    background-color: #c33434;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.red #sidebar ul li a.active, .red #sidebar ul li a.active:hover, .red #sidebar ul li a.active:focus{
    background: #cb9494;
    color: white !important;
}

.red .theme-btn, .red .theme-btn:hover, .red .theme-btn:focus, .red .theme-btn:active {
    background:#c33434;
    color:white
}

.red .sidebar-section{
    color: #c33434;
}

.red #sidebar::-webkit-scrollbar-thumb:hover, .red #sidebar::-webkit-scrollbar-thumb {
  background: #c33434; 
}


/* ---------------------------------------------------
    Theme Color green
----------------------------------------------------- */

.green .navbar-laravel {
    background-color: #41ac41;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.green #sidebar ul li a.active, .green #sidebar ul li a.active:hover, .green #sidebar ul li a.active:focus{
    background: #7acb7a;
    color: white !important;
}

.green .theme-btn, .green .theme-btn:hover, .green .theme-btn:focus, .green .theme-btn:active {
    background:#41ac41;
    color:white
}

.green .sidebar-section{
    color: #41ac41;
}

.green #sidebar::-webkit-scrollbar-thumb:hover, .green #sidebar::-webkit-scrollbar-thumb {
  background: #41ac41; 
}


/* ---------------------------------------------------
    Theme Color blue
----------------------------------------------------- */

.blue .navbar-laravel {
    background-color: #59b2ff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.blue #sidebar ul li a.active, .blue #sidebar ul li a.active:hover, .blue #sidebar ul li a.active:focus{
    background: #a0cef6;
    color: white !important;
}

.blue .theme-btn, .blue .theme-btn:hover, .blue .theme-btn:focus, .blue .theme-btn:active {
    background:#59b2ff;
    color:white
}

.blue .sidebar-section{
    color: #59b2ff;
}

.blue #sidebar::-webkit-scrollbar-thumb:hover, .blue #sidebar::-webkit-scrollbar-thumb {
  background: #59b2ff; 
}

/* ---------------------------------------------------
    Theme Color yellow
----------------------------------------------------- */

.yellow .navbar-laravel {
    background-color: #baba27;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.yellow #sidebar ul li a.active, .yellow #sidebar ul li a.active:hover, .yellow #sidebar ul li a.active:focus{
    background: #cbcb7a;
    color: white !important;
}

.yellow .theme-btn, .yellow .theme-btn:hover, .yellow .theme-btn:focus, .yellow .theme-btn:active {
    background:#baba27;
    color:white
}

.yellow .sidebar-section{
    color: #baba27;
}

.yellow #sidebar::-webkit-scrollbar-thumb:hover, .yellow #sidebar::-webkit-scrollbar-thumb {
  background: #baba27; 
}